extends layout
block content
    
    .Pagehead
      h1  My Orders 
    .Table1Head
    .flight-table-wrapper(id='Future flights')
      table.fl-table
        thead
          tr
            th(scope='col') Flight ID
            th(scope='col') From
            th(scope='col') To
            th(scope='col') Depurture Date
            th(scope='col') Total Price
            th(scope='col') Cancel Flight
        tbody 
          for Shuttle in orders
            tr
              th(scope='row')= Shuttle.ID
              td= Shuttle.from
              td= Shuttle.to
              td= Shuttle.depurtuedate
              td= Shuttle.price
              td
                form#cancelButton(action='http://localhost:3000/deleteFlight', method='post')
                  label(for='ShuttleID')
                  input(type='hidden', name='ShuttleID' value= Shuttle.ID)
                  input.btn(type='submit' , value='Cancel') 
                 
    br
    br
    br
    br
    br

