extends layout
block content
    input(type='hidden' , name='LoggedInUser' , value= LoggedInUser)
    .Pagehead
      h1  My Orders 
    .Table1Head
      h2 Future flights
    .flight-table-wrapper(id='Future flights')
      table.fl-table
        thead
          tr
            th(scope='col') Flight ID
            th(scope='col') From
            th(scope='col') To
            th(scope='col') Depurture Date
            th(scope='col') Total Price
            th(scope='col') Cancel Flight
        tbody 
          for Shuttle in ClientSuttlesList
            tr
              th(scope='row')= Shuttle.ID
              td= Shuttle.from
              td= Shuttle.to
              td= Shuttle.depurtuedate
              td= Shuttle.price
              td
                button.btn(type='button', value='Change Flight', onclick='/TODO') Cancel
    .Table2Head
      h2 Flights History
    .flight-table-wrapper(id='Flights History')
      table.fl-table
        thead
          tr
            th(scope='col') Flight ID
            th(scope='col') Departure date
            th(scope='col') Comeback date
            th(scope='col') Current location
            th(scope='col') Destination
            th(scope='col') Flight time
            th(scope='col') Tickets amount
            th(scope='col') Total Price
        tbody
          tr
            th(scope='row') TR-7
            td 7.6.2021
            td 7.6.2022
            td Earth
            td Mars
            td 15 months
            td 1
            td 15000000
    br
    br
    br
    br
    br

