extends layout
block content
    form#purchesForm.form-container(action='http://localhost:3000/myorders', method='post')
      input(type='hidden' , name='DepurtureShuttel' , value= DepurtureShuttel)
      input(type='hidden' , name='ReturnShuttel' , value= ReturnShuttel)
      .purchesForm
        
        h3 Your tickets:
        table.fl-table
          tr
            th(scope='col') Flight ID
            th(scope='col') From
            th(scope='col') To
            th(scope='col') Depurture Date
          tr
              th(scope='row')= DepurtureShuttel
              td= Dfrom
              td= Dto
              td= Ddepurtuedate
          tr
              th(scope='row')= ReturnShuttel
              td= Rfrom
              td= Rto
              td= Rdepurtuedate
        br
        br
        table.fl-table
          tr
            th(scope='row')= 'Total price:'
            td= total_price + '$'
      br
      br
      .purchesForm
        p#error
        h2 Enter Credit Card Information
        label(for='ccnum') Credit card number
        input#ccnum(name='ccnum', type='text', placeholder='1111-2222-3333-4444')
        label(for='expmonth') Exp Month
        input#expmonth(type='text', name='expmonth', placeholder='September')
        label(for='expyear') Exp Year
        input#expyear(name='expyear', type='text', placeholder='2018')
        label(for='cvv') CVV
        input#cvv(name='cvv', type='text', placeholder='352')
        br
        br
        
        h2 press submit to complete the purches
      button.btn(type='submit') Purchase
      button.btn.cancel(type='button', onclick="window.history.back()") Back