extends layout
block content
    form#searchResult.form-container(action='http://localhost:3000/purchaseForm', method='post')
      input(type='hidden' , name='LoggedInUser' , value= LoggedInUser)
      h1 Choose Departure Flight
      table.fl-table
        thead
          tr
            th(scope='col') Flight ID
            th(scope='col') From
            th(scope='col') To
            th(scope='col') Depurture Date
            th(scope='col') Remaining tickets
            th(scope='col') Total Price
            th(scope='col')
        tbody
          for DepurtureShuttel in DepurtureShuttelList
            tr
              th(scope='row')= DepurtureShuttel.ID
              td= DepurtureShuttel.from
              td= DepurtureShuttel.to
              td= DepurtureShuttel.depurtuedate
              td= DepurtureShuttel.capacity
              td= DepurtureShuttel.price
              td.FlightInfoCol
                input#ChooseFlight(type='checkbox', name='DepurtureShuttel', value=DepurtureShuttel)
                label(for='ChooseFlight')
                br
      h1 Choose Return Flight
      table.fl-table
        thead
          tr
            th(scope='col') Flight ID
            th(scope='col') From
            th(scope='col') To
            th(scope='col') Return Date
            th(scope='col') Remaining tickets
            th(scope='col') Total Price
            th(scope='col')
        tbody
          for ReturnShuttel in ReturnShuttelList
            tr
              th(scope='row')= ReturnShuttel.ID
              td= ReturnShuttel.from
              td= ReturnShuttel.to
              td= ReturnShuttel.depurtuedate
              td= ReturnShuttel.capacity
              td= ReturnShuttel.price
              td.FlightInfoCol
                input#ChooseFlight(type='checkbox', name='ReturnShuttel', value= ReturnShuttel)
                label(for='ChooseFlight')
                br
                
      button.btn(type='submit', value='Purches') Purchase
      button.btn(type='button', value='Purches', onclick="window.history.back()") Back
